#exerciseList{
  height: 200px;
  overflow-y: scroll;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .content{
    display: flex;
    min-height: 80vh;
    justify-content: center;
  }
  .sidebar {
    width: 25%;
    background: #222842;
    
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  .sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .exercise-item {
    padding: 10px;
    margin-bottom: 10px;
    background: #292653;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
  }
  .exercise-item:hover {
    background: #709ad0;
  }
  .main {
    flex: 1;
    padding: 20px;
  }
  .question{
    font-size: 1.3em;
    margin-bottom: 15px;
  }
  .option {
    margin-bottom: 10px;
  }
  .option input {
    margin-right: 5px;
  }

  #feedback {
    margin-top: 10px;
    font-weight: bold;
  }

  .btn:hover {
    transform: none;
    opacity: 0.92;
}

@media(max-width:768px){
.content{
  flex-direction: column;

}
.sidebar{
  width: 100%;
}
#exerciseList{
  display: flex;
  gap: 1rem;
}
}